.navbar-container {
  background-color: #FFC700;
}

.custom-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
}

.btn-container {
  font-weight: 700;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}

@media (min-width: 1200px) {
  .navbar-container {
      background-color: #FFC700;
      padding-left: 10px;
  }
  
  .navbar-brand-container {
      font-size: 24px;
  }
  
  .custom-navbar-container {
      margin-left: 50px;
      margin-right: 50px;
  }
}